body {
  display: flex;
  flex-direction: column;
  align-items: center;
  word-break: break-word;
}

.app {
  display: flex;
  flex-direction: column;
  width: 21.875rem;
}

.new-input {
  font-size: 1.25rem;
  padding: 0.5rem;
}

.todos {
  display: flex;
  flex-direction: column;
  gap: 1.375rem;
  list-style: none;
  font-size: 1.25rem;
  padding: 0;
}

.todo {
  border: 0.0625rem solid hsl(0, 0%, 80%);
  padding: 0.625rem;
}

.todo__inside {
  display: flex;
  justify-content: space-between;
}

.count {
  align-self: center;
}
