*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  word-break: break-word;
}

.app {
  display: flex;
  flex-direction: column;
  width: 21.875rem;
  margin: 0 auto;
}

.label {
  width: 100%;
  font-size: 0;
}

.input {
  width: 100%;
}

.new-input-box {
  display: flex;
}

.new-input-box .input {
  font-size: 1.25rem;
  flex-grow: 1;
  padding: 0.5rem;
}

.new-input-box .button {
  min-width: 50px;
}

.todos {
  display: flex;
  flex-direction: column;
  gap: 1.375rem;
  list-style: none;
  font-size: 1.25rem;
  padding: 0;
}

.todo {
  border: 0.0625rem solid hsl(0, 0%, 80%);
  padding: 0.625rem;
}

.todo__inside {
  display: flex;
  gap: 0.625rem;
}

.todo .title {
  flex-grow: 1;
}

.todo .label-edit {
  flex-grow: 1;
}

.todo .input-edit {
  font-size: 1.25rem;
  padding: 0.125rem;
}

.todo .button-container {
  display: flex;
  gap: 6px;
  align-items: baseline;
}

.todo .button-container button {
  min-width: 50px;
}

.todo.editing .title {
  display: none;
}

.count {
  align-self: center;
}
