*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  word-break: break-word;
}

.main {
  display: flex;
  flex-direction: column;
  width: 21.875rem;
  margin: 0 auto;
}

.page-items .user {
  text-align: center;
  font-weight: normal;
  font-size: 1.75rem;
}

.user .user-name {
  font-weight: bold;
  font-size: 2rem;
}

.label {
  width: 100%;
  font-size: 0;
}

.input {
  width: 100%;
}

.new-item-box {
  display: flex;
}

.new-item-box .input {
  font-size: 1.25rem;
  flex-grow: 1;
  padding: 0.5rem;
}

.new-item-box .button {
  min-width: 3.125rem;
}

.items {
  display: flex;
  flex-direction: column;
  gap: 1.375rem;
  list-style: none;
  font-size: 1.25rem;
  padding: 0;
}

.item {
  border: 0.0625rem solid hsl(0, 0%, 80%);
  padding: 0.625rem;
}

.item__inside {
  display: flex;
  gap: 0.625rem;
}

.item .title {
  flex-grow: 1;
}

.item .label-edit {
  flex-grow: 1;
}

.item .input-edit {
  font-size: 1.25rem;
  padding: 0.125rem;
}

.item .button-container {
  display: flex;
  gap: 0.375rem;
  align-items: baseline;
}

.item .button-container button {
  min-width: 3.125rem;
}

.item.editing .title {
  display: none;
}

.count {
  align-self: center;
}

.users {
  display: flex;
  flex-direction: column;
  gap: 1.625rem;
  list-style: none;
  text-align: center;
  font-size: 1.25rem;
  padding: 0;
}

.new-user {
  font-size: 1.25rem;
}

.users li {
  position: relative;
}

.users a:hover {
  color: salmon;
}

.users .button-container {
  position: absolute;
  top: 0;
  left: 100%;
  min-width: 100px;
}
